@import "../variables.module.scss";

.nav-bar-right {
    background: $border-color;
    width: 90px;
    height: 100%;
    position: fixed;
    top : 0;
    z-index: 3;
    min-height: 500px;

    nav {
        display: block;
        text-align: center;
        position: absolute;
        height: 210px;
        top: 50%;
        margin-top: -120px;
        width: 100%;

        a {
            font-size: 33px;
            color: $border-color;
            display: block;
            line-height: 76px;
            height: 76px;
            position: relative;
            text-decoration: none;

            i {
                transition: all 0.3s ease-out;
            }

            &:hover {
                color: $hover-color;

                svg {
                    opacity: 0;
                }

                &:after {
                    opacity: 1;
                }
            }

            &:after {
                content: '';
                font-size: 15px;
                letter-spacing: 2px;
                position: absolute;
                bottom: 0;
                display: block;
                width: 100%;
                text-align: center;
                opacity: 0;
                transition: all 0.3 ease-out;
            }

            &:first-child{
                &::after{
                    content: 'HOME';
                }
            }       
        }

        a.about-link{
            &:after {
                content: 'ABOUT';
            }
        }
    
        a.contact-link{
            &:after {
                content: 'CONTACT';
            }
        }

        
        a.active {
            svg {
                color: $hover-color;
            }
        }
    }

    ul {
        position: absolute;
        top: 30px;
        width: 100%;
        display: block;
        padding: 0;
        list-style: none;
        text-align: center;
        margin: 0;

        li {
            a {
                padding: 12px 0;
                display: block;
                font-size: 33px;
                line-height: 24px;

                &:hover svg {
                    color: $hover-color;
                }
            }
        }
    }
}

.container {
    width: 100%;
    will-change: contents;
    height: 90%;
    min-height: 566;
    position: absolute;
    opacity: 0;
    top: 5%;
    margin: 0 auto;
    z-index: 1;
    transform-style: preserve-3d;
    animation: fadeIn 0.2s forwards;
    animation-delay: 0.1s;
}

.nav-bar-left {
    background: $border-color;
    width: 90px;
    height: 100%;
    position: fixed;
    right: 0px;
    top : 0;
    z-index: 3;
    min-height: 500px;

    nav {
        display: block;
        text-align: center;
        position: absolute;
        height: 210px;
        top: 50%;
        margin-top: -120px;
        width: 100%;

        a {
            font-size: 33px;
            color: $border-color;
            display: block;
            line-height: 76px;
            height: 76px;
            position: relative;
            text-decoration: none;

            i {
                transition: all 0.3s ease-out;
            }

            &:hover {
                color: $hover-color;

                svg {
                    opacity: 0;
                }

                &:after {
                    opacity: 1;
                }
            }

            &:after {
                content: '';
                font-size: 15px;
                letter-spacing: 2px;
                position: absolute;
                bottom: 0;
                display: block;
                width: 100%;
                text-align: center;
                opacity: 0;
                transition: all 0.3 ease-out;
            }

            &:first-child{
                &::after{
                    content: 'HOME';
                }
            }       
        }

        a.about-link{
            &:after {
                content: 'ABOUT';
            }
        }
    
        a.contact-link{
            &:after {
                content: 'CONTACT';
            }
        }

        
        a.active {
            svg {
                color: $hover-color;
            }
        }
    }
}
