@import "../../variables.module.scss";

.project {
    position: absolute;
    text-align: center;
    top: 50px;
    width: 100%;
    max-height: 100%;
}

h1 {
    color : $secondary-color;
    font-size: 53px;
    margin: 0;
    font-family: 'Coolvetica';
    font-weight: 400;
}


.video {
    text-align: center;
    transform: translateY(20px);
}

.description
    {
        top: 400px;
        position: relative;
        width: auto;
        justify-content: center;
        display:flex;
        align-items: center;
    }

h4 {
    color : $primary-color;
    font-size: 18px;
    margin: 0;
    font-family: sans-serif;
    font-weight: 400;
    max-width: 60%;
    text-align: left;
}