@import '../variables.module.scss';

.contact-form {
    width: 25%;
    margin-top: 200px;

    ul {
        padding: 0;
        margin: 0;

        li {
            padding: 0;
            margin: 0;
            list-style: none;
            margin-bottom: 10px;
            overflow: hidden;
            display: block;
            position: relative;
            opacity: 0;
            animation: fadeInUp 0.4s 0.4s;
            animation-fill-mode: forwards;
            clear: both;
        }
    }

    li.half {
        width: 49%;
        margin-left: 2%;
        float: left;
        clear: none;

        &:first-child {
            margin-left: 0;
        }
    }
}

input[type='text'],
input[type='email'] {
    width: 100%;
    border: 0;
    background: $border-color;
    height: 50px;
    font-size: 16px;
    color: #fff;
    padding: 0 20px;
    box-sizing: border-box;
}
input[type='subject'] {
    width: 100%;
    border: 0;
    background: $border-color;
    height: 50px;
    font-size: 16px;
    color: #fff;
    padding: 0 20px;
    box-sizing: border-box;
}

textarea  {
    width: 100%;
    border: 0;
    background: $border-color;
    height: 50%;
    min-height: 200px;
    font-size: 16px;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
}

.flat-button-send {
    color: $bunhover-color;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid $bunhover-color;
    animation: fadeIn 1s 0.6s backwards;
    white-space: nowrap;
    float: right;
    margin: 20px;

    &:hover {
        color: $background-color;
        border: 0px;
        background-color: $bunhover-color;
    }
}
