@import '../variables.module.scss';

.flat-button-top {
    color: $bunhover-color;
    border: 1px solid $bunhover-color;
    font-family: sans-serif;
    text-decoration: none;
    animation: fadeIn 0.4s 0.4s backwards;
    position: fixed;
    bottom: 5%;
    right: 8%;
    font-size: 400%;
    border-radius: 0.5rem;
    cursor: pointer;
    
    &:hover {
        color: $background-color;
        border: 0;
        background-color: $bunhover-color;
    }
}

.icon-top {
    width: 70%;
}