@import "../../../variables.module.scss";

.container-all {
    //position: absolute;
    //text-align: center;
    width: 100%;
    padding-top: 5%;
}

.container-horizontal {
    position: relative;
    width: auto;
    height: 100%;
    justify-content: center;
    display:flex;
    flex-direction: row;
    align-self: center;
    align-items: top;
}

.text-container {
    width: 25%;
}

.small-div {
    width: 25%;
}

.big-div {
    width: 75%;
}

.tabs {
    cursor: pointer;
    color: $test-color;
}

h2 {
    color: $secondary-color;
    margin-top: 1%;
    margin-bottom: 1.5%;
    font-weight: 400;
    font-size: 125%;
    font-family: sans-serif;
    letter-spacing: 25%;
    animation: fadeIn 1s 0.2s backwards;
}

h3 {
    color: $secondary-color;
    font-weight: bold;
    font-family: sans-serif;
}

h4 {
    color : $primary-color;
    font-size: 160%;
    margin-top: 1%;
    font-family: sans-serif;
    text-align: left;
}

h5 {
    //transform: translateY(-50px);
    font-size: 140%;
    color: $primary-color;
    font-family: sans-serif;
    font-weight: 300;
    text-align: justify;
    user-select: none;
}

h6 {
    color : $primary-color;
    font-size: 140%;
    margin-top: -1%;
    font-weight: 300;
    font-family: sans-serif;
    text-align: center;
    line-height: 0;
}

.top-separator {
    margin-top: 100px;
}

.top-separator-small {
    margin-top: 500px;
}

.top-separator-smallest {
    margin-top: 35px;
}


.gif-img {
    border-radius: 0.5rem;
    width: 300px;
    height: auto;
    user-select: none;
}

.png-img {
    border-radius: 0.5rem;
    width: 400px;
    user-select: none;
}

.banner-img {
    width: 400px;
    height: auto;
}

.height-img {
    border-radius: 0.5rem;
    width: auto;
    height: 225px;
}

.height-minimap-img {
    border-radius: 0.5rem;
    width: auto;
    height: 270px;
}

.gap {
    gap: 4em;
    //border: 1px solid $test-color;
}

.gap-big {
    gap: 8em;
    //border: 1px solid $test-color;
}

.carousel-display {
    //border: 1px solid $test-color;
    transform: translateY(5px);
}

.list-vertical {
    width: 500px;
    //border: 1px solid $test-color;
}

.list-vertical-small {
    width: 350px;
    //border: 1px solid $test-color;
}

.text-list {
    width: 400px;
    transform: translateY(-20px);
    //border: 1px solid $test-color;
    //align-items: center;
}

.translate-up {
    transform: translateY(-50px);
}

.div50 {
    width: 50%;
    transform: translateX(0px);
}