@import "../../../variables.module.scss";

.container-all {
    //position: absolute;
    //text-align: center;
    width: 100%;
    //border: 1px solid $test-color;
    padding-top: 50px;
}

.container-horizontal {
    position: relative;
    width: auto;
    height: 100%;
    justify-content: center;
    display:flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
    //border: 1px solid $test-color;
}