@import "../../../variables.module.scss";

.container-all {
    //position: absolute;
    //text-align: center;
    width: 100%;
    //border: 1px solid $test-color;
    padding-top: 50px;
}

.container-horizontal {
    position: relative;
    width: auto;
    height: 100%;
    justify-content: center;
    display:flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
    //border: 1px solid $test-color;
}

.spacing-item {
    margin-left: 20px;
    margin-top: 30px;
}

.tabs {
    cursor: pointer;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-bottom: none;
    background-color: #f1f1f1;
}

h4 {
    color : $primary-color;
    font-size: 16px;
    margin-top: 4px;
    font-family: sans-serif;
    text-align: left;
}