@import "../variables.module.scss";

.desc {
    margin-top: 325px;

    .text-zone {
        position: relative;
        width: auto;
        justify-content: center;
        display:flex;
        flex-direction: row;
        align-self: center;
        align-items: center;
        //border: 1px solid $test-color;

        h1 {
            font-size: 53px;
            font-family: 'Coolvetica';
            color: $primary-color;
            font-weight: 400;
            position: relative;
            margin-bottom: 40px;
        }

        img {
            height: 220px;
            width: auto;
            margin-right: 50px;
            border: 1px solid $secondary-color;
            padding: 10px;
            border-radius: 5px;
        }

        .text-container {
            //border: 1px solid $test-color;
            width: 60%;
        }

        p {
            font-size: 14px;
            color: $primary-color;
            font-family: sans-serif;
            font-weight: 300;
            text-align: left;
        }

        ul {
            line-height: 3px;
            color: $primary-color;
        }

        b {
            font-size: 14px;
            font-weight: bold;
        }

        a {
            text-decoration: none;
            font-size: 14px;
            color: $tertiary-color;
            font-family: sans-serif;
            text-align: left;
        }

        h3 {
            margin-top: 20px;
            text-decoration: none;
            font-size: 16px;
            color: $primary-color;
            font-family: sans-serif;
            text-align: left;
        }
    }
}