@import "../variables.module.scss";

.desc {
    margin-top: 17%;

    .text-zone {
        position: relative;
        width: auto;
        justify-content: center;
        display:flex;
        flex-direction: row;
        align-self: center;
        align-items: center;

        h1 {
            font-size: 500%;
            font-family: 'Coolvetica';
            color: $primary-color;
            font-weight: 400;
            position: relative;
        }

        img {
            height: 12%;
            width: 12%;
            margin-right: 2.5%;
            border: 1px solid $secondary-color;
            padding: 0.5%;
            border-radius: 2%;
        }

        .text-container {
            width: 50%;
        }

        p {
            font-size: 140%;
            color: $primary-color;
            font-family: sans-serif;
            font-weight: 300;
            text-align: justify;
        }

        ul {
            line-height: 30%;
            color: $primary-color;
        }

        b {
            font-size: 100%;
            font-weight: bold;
        }

        a {
            text-decoration: none;
            font-size: 100%;
            color: $tertiary-color;
            font-family: sans-serif;
            text-align: left;
        }

        h3 {
            text-decoration: none;
            font-size: 160%;
            color: $primary-color;
            font-family: sans-serif;
            text-align: left;
        }
    }
}